h1{
    color: #31A5AC;
}
.img-fluid{
    height: 680px;
}
.right-side{
    background-color: #F8F8F8;
}
input{
    background-color: #DCDCDC;
    border: 0;
    height: 40px;
}
.button{
    background-color: 
    #59A5FF;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 600;
}


/* media query for mobile divices */
@media only screen and (max-width:688px) {
    .img-fluid{
        height: 400px;
    }
}